<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>992887829613-4d26m61gq37r7r7spgicbk7fef8mnto9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992887829613-4d26m61gq37r7r7spgicbk7fef8mnto9</string>
	<key>API_KEY</key>
	<string>AIzaSyCLI0NEBEzE7whIW6ah8dPFOe_JM5kJIlA</string>
	<key>GCM_SENDER_ID</key>
	<string>992887829613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mynotes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mynite-e41e2</string>
	<key>STORAGE_BUCKET</key>
	<string>mynite-e41e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992887829613:ios:f103a5e264b11deb5f3b64</string>
</dict>
</plist>